body {margin: 0;
    background-image: url(http://www.yenislayt.com/upload/fe0cd7a31d.jpg);
    
    /*background-color:#f1f1f1!important
    */
  }

nav ul li a {
  text-align: center;
}

hr {
  border-width: 5px;
  border-color: rgb(107, 129, 189);
}

#anaMenuLink {
  background-color: rgba(10, 130, 243, 0.877);
  position: fixed;
  z-index: 10;
  width: 100%;
}

#anaMenuLink li a{
  color: rgb(255, 255, 255);
}
#anaMenuLink li a:hover {
  color: black;
  background-color: white;
  border-radius: 20px;
}

#logo {
  margin-right: 15px;
  width: 75px; 
  height: 50px;
}

#secilmis {
  background-color: red;
  border-radius: 20px;
}

.content {
  padding: 0px 15px;
}

#maconu {
  /* ismi maconu ancak border radius sıfırlamak için her resimde kullandım */
  border-radius: 0px;
}

#sehirTanitim {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  border-radius: 5px;
}

#sehirYazi p,h1,h2,h3,h4,h5,h6 {
    padding: 5px 40px 0px 40px;
}

#sehirYazi ul {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 15px;
}

p{
  font-size: medium;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.içerik {
  float: left;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.içerik h1,h2,h3,h4,h5,h6,p {
  padding: 5px 15px 0px 15px;
}
.içerik h3 {
  padding-left: 15px;
}

.içerik td {
  padding-left: 10px;
  padding-bottom: 2em;
}

.login {
  width: 40%;
  margin-top: 9%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.login table {
  width: 65%;
  margin-left: 25%;
}

.login td {
  padding-bottom: 2em;
}

#takimTanitim h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}  

#takimYazi p {
  padding-left: 25px;
  padding-right: 25px;
}

#takimYazi h3 {
  padding-left: 25px;
  padding-right: 25px;
}

.içerikCV p,h3 {
  text-align: center;
}

.içerikCV img {
  width: 30%;
  height: 300px;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 5px;
}

.içerikCV {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

#filmler li{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#oneri {
  width: 60%;
  resize: none;
}

#iletisim {
  width: 95%;
  margin-left: 5%;
}


@media screen and (max-width:960px){
  /* Tablet ve telefon */
  #anaMenuLink {
    background-color: rgba(10, 130, 243, 0.877);
    position:relative;
    z-index: 10;
    width: 100%;
  }
  
  
  .içerik {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
  }
  .içerikCV {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
  }

  .içerikCV img {
    height: 5%;
  }

  .login {
    width: 80%;
    margin-top: 9%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
  }
  
  .login table {
    margin-left: 10%;
    width:75%;
  }

  .içerik h1,h2,h3,h4,h5,h6,p {
    padding: 5px 15px;
  }

  #oneri {
    width: 80%;
  }

}

/* İMAGE */

* {box-sizing: border-box}
.mySlides1 {display: none}
.slideshow-container img {vertical-align: middle;
height: 350px;
width: 400px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 450px;
  max-height: 400px;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}


/* Next & previous buttons */
.prev, .next {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}